<!-- Config file for the game -->

<config>
  <app>
    <title>Warcraft II</title>
    <organization>UPC</organization>    
  </app>
	
  <renderer>
    <vsync value="0"/>
    <capFrames value="30"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
    <icon name="Assets/Sprites/Textures/Icon.bmp"/>
  </window>

  <map>
    <folder>data/assets/textures/maps/</folder>
  </map>

  <gui>
    <atlas file="Assets/Sprites/atlas.png"/>
  </gui>

  <scene>
    <maps>
      <orthogonal name="orthogonal_walk.tmx" active="0"/>
      <isometric name="iso_walk.tmx" active="0" tex="data/assets/textures/maps/isometricDebugTex.png"/>
      <warcraft name="warcraft_walk.tmx" active="1" tex="data/assets/textures/maps/warcraftDebugTex.png"/>
    </maps>
  </scene>

  <entities>
    <spritesheets>
      <footman name="data/assets/textures/sprites/footman.png"/>
    </spritesheets>   
  </entities>
  
  <particles>
     <spritesheets>
      <spritesheet name="Assets/Sprites/Textures/Sparkle.png"/>
    </spritesheets>
  </particles>

</config>